@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #f4f7fc;
    color: #333;
    padding-top: 50px;
}


.container {
    width: 85%;
    margin: 0 auto;
}



/* Header */
header {
    background: linear-gradient(135deg, #030591, #000000);
    color: white;
    padding: 30px 0; /* Ajustei o padding para levantar a barra mais para cima */
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    border-bottom: 5px solid #f3f4f6;
    transition: all 0.3s ease-in-out;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header .header-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

header .logo {
    width: 90px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

header .logo:hover {
    transform: scale(1.1);
}

header .header-center {
    flex: 2;
    text-align: center;
}

header h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

header p {
    font-size: 1.3rem;
    margin-bottom: 20px;
    font-weight: 500;
}

header .header-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

header .btn {
    background: #0c002775;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 50px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

header .btn:hover {
    background: #d81b60;
    transform: translateY(-7px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
}

/* Organizando o layout e espaçamento dos elementos */
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-left {
    display: flex;
    align-items: center;
}

header .header-center {
    flex: 2;
    text-align: center;
}

header .header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

/* Responsividade */
@media (max-width: 768px) {
    header .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header .header-left, header .header-center, header .header-right {
        flex: unset;
        width: 100%;
    }

    header h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1rem;
    }

    header .btn-container {
        flex-direction: column;
        gap: 10px;
    }
}


#projetos {
    padding: 80px 0;
    background-color: #fff;
    text-align: center;
}

#projetos h2 {
    font-size: 3rem;
    margin-bottom: 40px;
    color: #0015d1;
}

.projetos-lista {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    transition: all 0.3s ease-in-out;
}

.projeto {
    background: rgba(215, 232, 248, 0.726);
    width: 30%;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projeto img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
}

.projeto h3 {
    font-size: 1.7rem;
    margin-top: 20px;
    color: #333;
    font-weight: 600;
}

.projeto p {
    font-size: 1rem;
    margin: 10px 0;
    color: #666;
}

.projeto a {
    font-weight: bold;
    color: #00c3ff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.projeto a:hover {
    color: #d81b60;
}

.projeto:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
}

/* Seção de Habilidades */
#habilidades {
    background-color: #f8f9fa;
    padding: 80px 0;
}

#habilidades h2 {
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 50px;
    color: #030000;
}

.habilidades {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.habilidade {
    width: 30%;
    text-align: center;
    background: rgba(255, 255, 255, 0.781);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.habilidade h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #0407d3;
    font-weight: 600;
}

.barra-progresso {
    background-color: #075b81;
    height: 12px;
    border-radius: 6px;
    position: relative;
    margin-top: 15px;
}

.barra-progresso::before {
    content: '';
    display: block;
    height: 100%;
    background-color: #008d63;
    border-radius: 6px;
    transition: width 1.5s ease-out;
}


#contato {
    padding: 80px 0;
    background-color: #fff;
    text-align: center;
}

#contato h2 {
    font-size: 2.8rem;
    margin-bottom: 40px;
    color: #040d8a;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input, form textarea {
    width: 70%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

form button {
    width: 70%;
    background-color: #074d7c;
    color: white;
    font-size: 1.2rem;
    padding: 15px;
    margin-top: 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

form button:hover {
    background-color: #d81b60;
    transform: translateY(-5px);
}

/* Footer */
footer {
    background-color: #4e2a84;
    color: white;
    text-align: center;
    padding: 30px 0;
    font-size: 1rem;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #d81b60;
}

/* Responsividade */
@media (max-width: 768px) {
    .projetos-lista {
        flex-direction: column;
        align-items: center;
    }

    .projeto {
        width: 80%;
        margin-bottom: 20px;
    }

    .habilidades {
        flex-direction: column;
        align-items: center;
    }

    .habilidade {
        width: 80%;
        margin-bottom: 20px;
    }

    header h1 {
        font-size: 3rem;
    }

    header p {
        font-size: 1.2rem;
    }

    form input, form textarea, form button {
        width: 90%;
    }
}

#sobre {
    background-color: #f8f9fa;
    padding: 80px 0;
    text-align: center;
}

#sobre h2 {
    font-size: 2.8rem;
    margin-bottom: 40px;
    color: #030000;
}

#sobre p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #555;
    line-height: 1.6;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    #sobre h2 {
        font-size: 2.5rem;
    }

    #sobre p {
        font-size: 1rem;
    }
}


#intro {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}

.intro-content h1 {
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.438);
    font-weight: 700;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid rgba(2, 0, 0, 0.459);
    width: 0; 
    animation: typing 4s steps(30) 1s forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%; 
}
}

@keyframes blink {
    0%,
    50%,
    100% {
        border-color: transparent;
    }
    25%,
    75% {
        border-color: rgba(0, 0, 0, 0.548);
    }
}

@media (max-width: 768px) {
    .intro-content h1 {
        font-size: 2rem;
    }
}
footer {
    background-color: #000000;
    color: white;
    padding: 40px 20px 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  
  .footer-info h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #ffffff;
  }
  
  .footer-info p {
    margin: 5px 0;
    font-size: 1rem;
    color: #cccccc;
  }
  
  .footer-info i {
    margin-right: 8px;
    color: #00c3ff;
  }
  
  .footer-social a {
    margin: 0 10px;
    font-size: 1.5rem;
    color: #00c3ff;
    transition: color 0.3s ease;
  }
  
  .footer-social a:hover {
    color: #d81b60;
  }
  
  .footer-copy {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #888;
  }
  
  /* Responsivo */
  @media (min-width: 768px) {
    .footer-container {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 80px;
    }
  
    .footer-info, .footer-social {
      align-items: flex-start;
      text-align: left;
    }
  }
  